<div class="footer">
	<div class="main_t"></div> 
	<div class="footer_m">
        <div class="f_menu mar_b5">
			<a href="http://www.fengbao.com/android_soft/">安卓软件</a>|
			<a href="http://www.fengbao.com/wp7_soft/">WP软件</a>|
			<a href="http://www.fengbao.com/iphone_soft/">苹果软件</a>|
			<a href="http://www.fengbao.com/symbian_soft/">塞班软件</a>|
			<a href="http://www.fengbao.com/android_game/">安卓游戏</a>|
			<a href="http://www.fengbao.com/wp7_game/">WP游戏</a>|
			<a href="http://www.fengbao.com/iphone_game/">苹果游戏</a>|
			<a href="http://www.fengbao.com/symbian_game/">塞班游戏</a>|
		</div>
	    <div class="f_menu mar_b5">
		     <a href="http://www.fengbao.com/android_rom/">HTC刷机</a>|
		     <a href="http://www.fengbao.com/samsung_rom/">三星刷机</a>|
		     <a href="http://www.fengbao.com/moto_rom/">MOTO刷机</a>|
		     <a href="http://www.fengbao.com/zte_rom/">中兴刷机</a>|
		     <a href="http://www.fengbao.com/huawei_rom/">华为刷机</a>|
		     <a href="http://www.fengbao.com/lg_rom/">LG刷机</a>|
        </div>
</p>    
<p class="mar_b5">Copyright&nbsp;&copy;&nbsp;2009-2012&nbsp;
<a href="http://www.fengbao.com/"></a>
</p>           
<p class="mar_b5"> 
</p>		  
</div>

<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&img=2&pos=right&uid=391210" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
		var bds_config = {"bdTop":300};
		document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?t=" + new Date().getHours();
</script>
<!-- Baidu Button END -->
</div>
<script type="text/javascript">
$(function(){
	$(".picbig").each(function(i){
		var cur = $(this).find('.img-wrap').eq(0);
		var w = cur.width();
		var h = cur.height();
	   $(this).find('.img-wrap img').LoadImage(true, w, h,'http://www.fengbao.com/statics/images/msg_img/loading.gif');
	});
})
</script>
</body>
</html>