{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}themes/css/detail_qty.css">
<!-- 文章频道页  begin -->
<div class="detailBox_qty">
	<div class="detailSmallBox_qty">
		<!--小健康资讯开始-->
		<div class="detailHome_qty">
			<div class="homeFont">首页<span>&nbsp;&nbsp;{catpos($catid)}</span></div>
		</div>
		<!--小健康资讯结束-->
		<!--健康咨询开始-->
		<div class="healthBox_qty">
			<div class="healthImgBox_qty">
				<img src="{IMG_PATH}/dyw/store_qty.png"/>
			</div>
			<div class="healthRightBox_qty">
				<div class="healthTopFont_qty">
					健康<span>资讯</span>
				</div>
				<div class="healthBottomFont_qty">
					HEALTH<span>INFORMATION</span>
				</div>
			</div>
		</div>
		<!--健康资讯结束-->
		<!--健康养生四个开始-->
		<div class="healthDis_qty">
			<ul class="list_qty">
			    {php $j=1;}
			    {loop subcat($catid) $v} 
				<li  {if $j==1 }class="color_qty"{/if}><a href="{$v[url]}">{$v[catname]}</a></li>
				{php $j++;}
				{/loop}
				
			</ul>
		</div>
			<!--banner列表开始-->
			<div class="healthBannerBox_qty">
			    {loop subcat($catid) $v}
			    {pc:content action="lists" catid="$v[catid]"  num="3" order="id DESC"}
				<div class="healthBanner_qty">
				    <!-- 左侧广告位 begin-->
					<div class="healthBannerLeft_qty">
						<script language="javascript" src="{APP_PATH}index.php?m=poster&c=index&a=show_poster&id=12"></script>
					</div>
					<!-- 左侧广告位  end-->
					<div class="healthBannerRight_qty">
					    {php $i=1;}
					    {loop $data $k $cv}
						<div class="healthRightSmall_qty">
						    <a href="{$cv[url]}">
							<div class="healthSmall_qty">
								<h4>&nbsp;<span>{sprintf("%02d", $i)}</span>{$cv[title]}</h4>
								<div class="time_qty">{date("Y-m-d",$cv[inputtime])}</div>
							</div>
							<div class="healthBottomSmall_qty">
								{$cv[description]}
							</div>
							<div class="jiantouBox_qty"> <a href="{$cv[url]}"><span>&gt</span></a></div>
							</a>
						</div>
						{php $i++;}
						{/loop}
					</div>
			    <div class="moreBox"><a href="{$v[url]}">更多</a></div>
				</div>
				{/pc}
				{/loop}
		</div>
		<!--banner列表结束-->
		<!--健康养生四个结束-->

		
		<!--热点咨询开始-->
		<div class="healthBox_qty">
			<div class="healthImgBox_qty">
				<img src="{IMG_PATH}/dyw/store_qty.png"/>
			</div>
			<div class="healthRightBox_qty">
				<div class="healthTopFont_qty">
					热点<span>资讯</span>
				</div>
				<div class="healthBottomFont_qty">
					HOT&nbsp;<span>SPOT INFORMATION</span>
				</div>
			</div>
		</div>
		<!--热点资讯结束-->
		<!--热点资讯列表开始-->
		
		<ul class="hotBigBox_qty">
		{pc:content  action="position" posid="18" thumb="1" order="id" num="6" cache="3600"}
		    {loop $data $v}
			<li class="hotSmallBox_qty">
				<a href="{$v[url]}">
					<div class="hotSmall_qty">
						<div class="hotTopFontBox_qty">
							<span class="bTime_qty">{date("Y-m-d",$v[inputtime])}</span>
							<span class="bFont_qty">{$CATEGORYS[$v[catid]][catname]}</span>
						</div>
						<div class="hotImgBox_qty">
							<img src="{$v[thumb]}" width='330' height='132'/>
						</div>
						<div class="hotFont_qty">
							<h5>{$v[title]}</h5>
						</div>
						<div class="hotFontCenter_qty">
							{$cv[description]}
						</div>
						<div class="rItBox_qty">
							<div href="{$v[url]}">&lt</div>
						</div>
					</div>
				</a>
			</li>
			{/loop}
	    {/pc}
		</ul>
		<!--热点资讯列表结束-->
		<div class="moreBox"><a href="{$CATEGORYS[11]['url']}">更多</a></div>
	</div>
</div>
<script type="text/javascript">
   
	$(document).ready(function(){
		$(".healthBanner_qty").hide().eq(0).show();
		$(".list_qty li").mouseover(function(){
			$(".list_qty li").eq($(this).index()).addClass("color_qty").siblings().removeClass('color_qty');
			$(".healthBanner_qty").hide().eq($(this).index()).show();
		});
	});
</script>

<!-- 文章频道页 end --> 


	
    

 <!--下面这部分代码是广告代码，可通过删除注释的方法显示出来-->
 <!--  
    <div class="ads">
    	<div class="col-left"><script language="javascript" src="{APP_PATH}caches/poster_js/4.js"></script></div>
        <div class="col-auto">
        	<div class="left">推广链接</div>
            <div class="right">这里放广告</div>
        </div>
  </div>
 -->
 
    

<!--  <script type="text/javascript">
function ChannelSlide(Name,Class){
	$(Name+' ul.photo li').sGallery({
		titleObj:Name+' div.title p',
		thumbObj:Name+' .thumb li',
		thumbNowClass:Class
	});
}
new ChannelSlide(".channel-slide","on",311,260);
</script>  -->
{template "content","footer"}