<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="renderer" content="webkit">
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}reset.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}default_blue.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{CSS_PATH}themes/css/public.css">
<link rel="stylesheet" href="{CSS_PATH}themes/css/header.css">
<link rel="stylesheet" href="{CSS_PATH}themes/css/footer.css">
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{CSS_PATH}themes/js/header.js"></script>
<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
<script type="text/javascript" src="{JS_PATH}search_common.js"></script>
<script type="text/javascript" src="{JS_PATH}region.js"></script>

</head>
<body>
<div class="ie_seven">
    <div class="ie_con">
        <span>您的浏览器版本过低。为保证您的最佳体验，</span>
        <a href="">请点此更新高版本浏览器</a>
    </div>
</div>
<div class="header_yyt">
    <div class="header_con">
    	<script type="text/javascript">document.write('<iframe src="{APP_PATH}index.php?m=member&c=index&a=mini&forward='+encodeURIComponent(location.href)+'&siteid={get_siteid()}" allowTransparency="true"  width="500" height="50" frameborder="0" scrolling="no"></iframe>')</script>
        <a class="help_" href="">帮助中心</a>
        <div class="city_">
            {$_city}
            
        </div>
    </div>
</div>

<div class="nav_yyt">
    <div class="nav_con">
        <a class="logo_" href="{siteurl($siteid)}/"></a>
        <form action="{APP_PATH}index.php" method="get" target="_blank" onsubmit="return false">
        <div class="search">
        <input type="hidden" name="m" value="search"/>
		<input type="hidden" name="c" value="index"/>
		<input type="hidden" name="a" value="init"/>
		<input type="hidden" name="typeid" value="1" id="typeid"/>
		<input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
        <input clstag="h|keycount|2016|03a" type="text" onKeyDown="" autocomplete="off" id="key" accesskey="s" class="search_add" placeholder="" value name="q">
        <input type="submit" value="搜 索" class="search_go" />
            
        </div>
        </form>
        <ul class="nav_list">
        {pc:content action="category" catid="0" num="12" siteid="$siteid" order="listorder ASC"}
        {loop $data $r}
           <li class="list_one">
               <a class="list_a" href="{$r[url]}">
                   <div class="list_icon">
                   
                   </div>
                   <div class="list_world">
                       <div class="LW_a">{$r[catname]}</div>
                       <div class="LW_b">ADVISORY</div>
                   </div>
               </a>
           </li>
        {/loop}
        {/pc}
        </ul>
    </div>
</div>







