{template "content","header"}
<!-- 视频列表页 begin -->
<link rel="stylesheet" type="text/css" href="{CSS_PATH}themes/css/public_qty.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}themes/css/healthList_qty.css"/>
<body>
<div class="healthListBox_qty">
	<div class="healthListSmallBox_qty">
		<!--小健康讲堂开始-->
		<div class="detailHome_qty">
			<div class="homeFont"><a href="{siteurl($siteid)}" style="color: #9CC813;">首页</a><span>&gt健康讲堂</span><span>&gt视频列表</span></div>
		</div>
		<!--小健康讲堂结束-->
		<!--健康讲堂视频开始-->
		<div class="healthVideoBox_qty">
			<!--健康讲堂视频左边开始-->
			<div class="healthVideoLeft_qty">
				<div class="videoFont_qty">视频分类</div>
				<div class="videoBottom_qty">
					<!--视频分类-->
				    {loop subcat(20) $p}
					<div class="healthBox_qty">
						<div class="healthImgBox_qty">
							<img src="{CSS_PATH}themes/image/store_qty.png"/>
						</div>
						<div class="healthRightBox_qty">
							<div class="healthTopFont_qty">
							    {php $url=$p[url].'&open=1'}
								<span><a href='{$url}'>{$p[catname]}</a></span>
							</div>
							<div class="healthBottomFont_qty">
								VID<span>EO</span>
							</div>
						</div>
					</div>
					<!--视频分类-->
					<div class="videoUl_qty">
						<ul>
						    {php $j=0}
						    {php $i=0}
						    {loop subcat($p[catid]) $c}
						    {php $i=1}
						    {if $j<3}
							<li>
								<a href="">{$c[catname]}</a>
							</li>
							{/if}
							{php $j++}
							{/loop}
							{if $i>0}
							<li>
								<a href="{php echo $p[url].'&open=1'}">全部&nbsp;&nbsp;&nbsp;&nbsp;》</a>
							</li>
							{/if}
						</ul>
					</div>
					<!--四小-->
					{/loop}
				</div>
			</div>
			<!--健康讲堂视频左边结束-->
			<!--健康讲堂视频右边开始-->
			
			<div class="healthVideoRight_qty">
			{pc:content action="lists" catid="$catid" num="12" order="id DESC" page="$page"}
				<ul>
				    {loop $data $r}
					<li>
						<div class="healthVideoS_qty">
							<a href="{$r[url]}">
							{if $r[thumb]}
			                <img src="{$r[thumb]}" alt="{$r[title]}" title="{$r[title]}" width="226" height='164'>
			                {else}
			                <img src="{IMG_PATH}nopic.gif" alt="{$r[title]}" title="{$r[title]}">
			                {/if}
							</a>
						</div>
						<div class="healthVideoSmallBottom_qty">
							<div class="videoSmall_qty">
								<span>{str_cut($r[title],17,'')}</span>
								<div>
									<img src="{CSS_PATH}themes/image/eye_qty_03.png"/>
									<span>{get_views('c-'.$CATEGORYS[$r[catid]][modelid].'-'.$r['id'])}</span>
								</div>
							</div>
						</div>
					</li>
					{/loop}
				</ul>
				{/pc}
			</div>
			<!--健康讲堂视频右边开始-->
		</div>
		<!--健康讲堂视频结束-->
		<div class="more_qty">
			{$pages}
		</div>
	</div>
</div>



<!-- 视频列表页 end -->

{template "content","footer"}
