{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}themes/css/detailList.css">

<!-- 文章列表页 begin -->
<div class="detailListBox_qty">
	<div class="detailSmallListBox_qty">
		<!--小健康资讯开始-->
		<div class="detailHome_qty">
			<div class="homeFont">首页<span>&gt {catpos($catid)}</span></div>
		</div>
		<!--小健康资讯结束-->
		<!--健康咨询开始-->
		<div class="healthBox_qty">
			<div class="healthImgBox_qty">
				<img src="{IMG_PATH}/dyw/store_qty.png"/>
			</div>
			<div class="healthRightBox_qty">
				<div class="healthTopFont_qty">
					健康<span>资讯</span>
				</div>
				<div class="healthBottomFont_qty">
					HEALTH<span>INFORMATION</span>
				</div>
			</div>
		</div>
		<!--健康资讯结束-->
		<!--健康资讯列表开始-->
		<div class="detailSmallBox_qty">
			<div class="detailList_qty">
				<ul class="list_qty">
				    {php $j=1}
				    {pc:content action="lists" catid="$catid" num="8" order="id DESC" page="$page"}
				    {loop $data  $k $r}
					<li>
						<div class="listSmall_qty">
							<h3>{sprintf("%02d", $j)}</h3>
							<div class="listImgBox_qty">
								<img src="{$r[thumb]}" width="418" height='169'/>
							</div>
							<div class="detailRightBox_qty">
								<h5>{$r[title]}</h5>
								<span class="english_qty">HEALTH IS ALWAYS AROUND YOU</span>
								<span class="time_qty">{date('Y-m-d',$r[inputtime])}</span>
								<p>
									{$r['description']}
								</p>
							</div>
						</div>
						<div class="more_qty"><a href="{$r[url]}">查看</a></div>
					</li>
					{php $j++}
					{/loop}
					{/pc}
				</ul>
			</div>
		</div>
		<!--健康咨询列表结束-->
	</div>
	<!--咨询列表分页开始-->
	<div id="pages" class="text-c">{$pages}</div>
	
	<!--咨询列表分页结束-->
</div>



<!-- 文章列表页 end -->
{template "content","footer"}