{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}themes/css/all.css"/>
<link rel="stylesheet" href="{CSS_PATH}themes/css/problem_details_zdw.css"/>

<div class="new_show">
    <!--导航条-->
    <div class="new_nav">
			<div class="homeFont">首页<span>&gt {catpos($catid)}</span></div>
    </div>
    <div class="new_main">
        <div class="new_header">
            <h1>{$title}</h1>
            <ul>
                
                <li><a href="#">{date('Y-m-d',$inputtime)}</a></li>
            </ul>
        </div>
        <div class="content">
				{$content}
				<!--内容关联投票-->
				{if $voteid}<script language="javascript" src="{APP_PATH}index.php?m=vote&c=index&a=show&action=js&subjectid={$voteid}&type=2"></script>{/if}
                
	    
        </div>
        <div id="pages" class="text-c">{$pages}</div>
    </div>
       
</div>

{template "content","footer"}