{template "content","header"}
<link rel="stylesheet" type="text/css" href="{CSS_PATH}themes/css/public_qty.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}themes/css/video_qty.css"/>

<!-- 视频详情页 begin-->
<div class="healthListBox_qty">
			<div class="healthListSmallBox_qty">
				<!--小健康讲堂开始-->
<div class="detailHome_qty">
	<div class="homeFont">首页<span>&gt健康讲堂</span><span>&gt视频列表</span></div>
</div>
<!--小健康讲堂结束-->
<!--健康讲堂视频开始-->
<div class="healthVideoBox_qty">
	<!--健康讲堂视频左边开始-->
<div class="healthVideoLeft_qty">
	<div class="videoFont_qty">视频分类</div>
	<div class="videoBottom_qty">
		<!--视频分类-->
		{loop subcat(20) $p}
<div class="healthBox_qty">
	<div class="healthImgBox_qty">
		<img src="{CSS_PATH}themes/image/store_qty.png"/>
	</div>
	<div class="healthRightBox_qty">
		<div class="healthTopFont_qty">
			{php $url=$p[url].'&open=1'}
			<span><a href='{$url}'>{$p[catname]}</a></span>
		</div>
		<div class="healthBottomFont_qty">
			VID<span>EO</span>
		</div>
	</div>
</div>
<!--视频分类-->
<div class="videoUl_qty">
	<ul>
		{php $j=0}
	    {php $i=0}
	    {loop subcat($p[catid]) $c}
	    {php $i=1}
	    {if $j<3}
		<li>
			<a href="">{$c[catname]}</a>
		</li>
		{/if}
		{php $j++}
		{/loop}
		{if $i>0}
		<li>
			<a href="{php echo $p[url].'&open=1'}">全部&nbsp;&nbsp;&nbsp;&nbsp;》</a>
		</li>
		{/if}
	</ul>
</div>
<!--四小-->
{/loop}
	</div>
</div>
<!--健康讲堂视频左边结束-->
<!--健康讲堂视频右边开始-->
<div class="healthVideoRight_qty">
	<div class="healthVideoSmallBox_qty">
		<div class="healthVideoRightLeft_qty">
		{php echo htmlspecialchars_decode($content)} 
		</div>
		<div class="healthVideoRightRight_qty">
			<div class="sendBox_qty">留言板</div>
			<div class="scrool_qty">
				<div class="scroolBox_qty">
					<div class="message_qty">
						<div class="messageImg">
							
						</div>
					</div>
				</div>
			</div>
			<div class="scroolBottom_qty">
				<div class="scrolCenter_qty">
					<h3>历史留言</h3>
					<div class="input_qty">
						<input type="text" name="" id="" value="" />
						<div onclick='javascript:alert("正在开发中")'>发送</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{pc:content  action="hits" catid="$catid" num="3" order="views DESC" }
	{if $data}
	<h1>相关推荐</h1>
	<ul class="list_qty">
        {loop $data $r}
		<li>
			<div class="listLis_qty">
				<a href="{$r[url]}">
				{if $r[thumb]}
                <img src="{$r[thumb]}" alt="{$r[title]}" title="{$r[title]}" width="240" height='140'>
                {else}
                <img src="{IMG_PATH}nopic.gif" alt="{$r[title]}" title="{$r[title]}" width="240" height='140'>
                {/if}
				</a>
			</div>
			<div class="listLismall_qty">{str_cut($r[title],17,'')}</div>
		</li>
		{/loop}
	</ul>
	{/if}
	{/pc}
</div>
<!--健康讲堂视频右边开始-->
</div>
<!--健康讲堂视频结束-->

	</div>
</div>

<!-- 视频详情页 end-->


{template "content","footer"}
